<!DOCTYPE html>
{% extends "accounts/milligram.html" %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Confirm</title>
</head>

<body>
    <form action="{% url 'accounts:password-reset-confirm' %}" method="post">
        {% csrf_token %}
        <label for="otp">Enter one time password sent to you</label>
        <input type="number" name="otp" id="otp" name="otp" required maxlength="8">
        <button type="submit">confirm email</button>
    </form>
</body>

</html>
{% endblock content %}