<!DOCTYPE html>
{% extends "milligram.html" %}

{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>

<body>
    <form action="{% url 'accounts:password-reset' %}" method="post">
        {% csrf_token %}
        <label for="email">Enter your email below</label>
        <input type="email" id="email" required maxlength="64" minlength="5" name="email">
        <button type="submit">Receive email</button>
    </form>
</body>

</html>
{% endblock %}